<div class="trm-contacts-creator">
  <form #form="ngForm" (ngSubmit)="save(form.value)" novalidate>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container fxFlex [dividerColor]="form.valid?'primary':'warn'">
            <input md-input placeholder="Name" name="name" #firstname="ngModel" ngModel minlength="3" required="true">
            <md-hint align="end" *ngIf="!firstname.valid && !firstname.pristine">
              <template [ngIf]="firstname.errors?.required">
                Name must be entered
              </template>
              <template [ngIf]="firstname.errors?.minlength">
                Name must be at least {{firstname.errors.minlength.requiredLength}} characters long
              </template>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex [dividerColor]="email.valid ? 'primary':'warn'">
            <input trmValidateEmail md-input placeholder="Email" name="email" #email="ngModel" ngModel>
            <md-hint align="end" *ngIf="!email.valid && !email.pristine">
              <template [ngIf]="!email.valid">
                The email format must be valid
              </template>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Birthday" name="birthday" type="date" ngModel>
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Phone" name="phone" ngModel>
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Website" name="website" ngModel>
          </md-input-container>
          <fieldset fxLayout="column" ngModelGroup="address">
            <legend>Address</legend>
            <md-input-container fxFlex>
              <input md-input placeholder="Street" name="street" ngModel>
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="Zip" name="zip" ngModel>
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="City" name="city" ngModel>
            </md-input-container>
          </fieldset>
        </div>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button [disabled]="!form.validity" type="submit">Save</button>
        <a md-button title="Cancel creating new contact" routerLink="/">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>